header {
position: fixed;
top:0%;
left: 0%;
border: 1px solid white;
background-color: white;
opacity: .8;
}
.navigation {
    display: flex;
}
.docplanner-logo {
    width: 70%;
    display: block;
    margin-block-start: 2%;
    margin-block-end: 2%;
    margin-inline-start: 2%;
    margin-inline-end: 2%;}
.docplanner-logo img {
    width:35%;
}
.nav-links {
    width: 30%;
    display: flex;
    justify-content: center;
    margin-top: 2%;
}
.nav-links a {
    text-decoration: none;
    color: rgb(0,197,155);
    margin:18px;
}
.container{
    padding: 10%;
}


.introduction-logo img {
    height: 231px;
    width: 100%;
    margin-top: 5%;}

footer
 {  border-top: 1px solid rgba(196,196,196,0.7);
    text-align: center;
    color: black;
    opacity: .7;
}
.footer {
    display: flex;
    text-align: center;
}
.footer p {
    width: 32%;
    color: black;
    opacity: .7;
    margin-left: 15%;
    margin-bottom: 0.5%;
}
.offices-list {
    width: 50%;
    margin-left: -20%;
    margin-top: 1.2%;
}
.footer a {
    text-decoration: none;
    color: rgb(61,131,223);
}